{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}

    <section class="homeTextSection jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading mb-5">
                Bienvenue dans l’univers MAQPRO qui réunit la compétence professionnelle et la qualité des produits.
            </h1>
                <div class="test">
                    <p class="homeText homelead ">
                        Voilà plus de 40 ans que nous créons et fabriquons des produits de maquillage de haut niveau dans le cadre d’une entreprise 100% familiale détenue et dirigée par Nine, Pierre et Alain BRUNNER.
                        Cette longévité consacre notre expérience et nos méthodes de travail.
                        Nous fabriquons exclusivement en France ce qui nous a valu dès 2011 le label ORIGINE FRANCE GARANTIE que jusqu’à ce jour nous sommes la seule entreprise cosmétique à détenir au monde.
                        Nos produits - plusieurs milliers de références - sont adaptés à toutes les catégories d’utilisateurs du simple particulier au professionnel le plus chevronné, à toutes les couleurs de peau sous tous les climats ce qui explique notre présence dans plus de 30 pays.
                        Nous vendons sous nos marques et nous proposons un service Private Label dont vous trouverez les modalités dans les différentes catégories concernées.
                        Pour tout dire, il faudrait plus qu’un catalogue ou un site internet. Si donc vous voulez en savoir encore plus, venez nous voir à notre show room à Paris.
                        Nous serons heureux de vous y recevoir.
                    </p>
                </div>
        </div>
    </section>



    <div class="barre"></div>





        <div class="homeLink">
            <div class="d-flex mx-auto text-center row">
                {% for theme in themes %}
                    <div class="contenant col-lg-4 mt-5">
                        <a href="./{{ theme.link }}">
                            <img src="{{ vich_uploader_asset(theme, 'imageFile') }}" class="card-img-top makeup_image" alt="makeup picture">
                            <div class="card-body">
                    </div>
                    <h2 class="">{{ theme.name }}</h2>
                    <p>{{ theme.description }}</p>
                        </a>

                    </div>
                {% else %}
                    <div class="card-body"><p>Pas de produit disponible dans cette catégorie !</p></div>
                {% endfor %}
            </div>
        </div>

{% endblock %}