{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}

    <section class="homeTextSection jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                Bienvenue dans l’univers MAQPRO qui réunit la compétence professionnelle et la qualité des produits.
            </h1>
            <p class="homeText homelead ">
                Voilà plus de 40 ans que nous créons et fabriquons des produits de maquillage de haut niveau dans le cadre d’une entreprise 100% familiale détenue et dirigée par Nine, Pierre et Alain BRUNNER.
                Cette longévité consacre notre expérience et nos méthodes de travail.
                Nous fabriquons exclusivement en France ce qui nous a valu dès 2011 le label ORIGINE FRANCE GARANTIE que jusqu’à ce jour nous sommes la seule entreprise cosmétique à détenir au monde.
                Nos produits - plusieurs milliers de références - sont adaptés à toutes les catégories d’utilisateurs du simple particulier au professionnel le plus chevronné, à toutes les couleurs de peau sous tous les climats ce qui explique notre présence dans plus de 30 pays.
                Nous vendons sous nos marques et nous proposons un service Private Label dont vous trouverez les modalités dans les différentes catégories concernées.
                Pour tout dire, il faudrait plus qu’un catalogue ou un site internet. Si donc vous voulez en savoir encore plus, venez nous voir à notre show room à Paris.
                Nous serons heureux de vous y recevoir.<p>
            </p>
        </div>
    </section>



    <div class="barre"></div>



    <div class="homeLink">
        <div class="d-flex mx-auto text-center row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Makeup</h2>
                <p>Some representative placeholder content for the three columns of text, This is the first column.</p>
                <p><a class="btn btn-secondary" href="{{ path('makeup_index') }}">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Special effect</h2>
                <p>Another exciting bit of representative placeholder content, we've moved on to the second column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Formation</h2>
                <p>And lastly this, the third column of representative placeholder content, this is the last column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

{% endblock %}
