<form method="post" action="{{ path('colours_delete', {'id': colour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ colour.id) }}">
    <button class="btn">Delete</button>
</form>
