<!DOCTYPE html>

<title>New Colours</title>

{% block body %}
    <h1>Create new Colours</h1>

    {{ include('colours/_form.html.twig') }}

    <a href="{{ path('colours_index') }}">back to list</a>
{% endblock %}
