<!DOCTYPE html>

<title>New MakeupRef</title>

{% block main %}
    <h1>Create new MakeupRef</h1>

    {{ include('admin/makeup_ref/_form.html.twig') }}

    <a href="{{ path('admin_makeup_ref_index') }}">back to list</a>
{% endblock %}
