{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainer">

        <h1>Edit Theme</h1>

        {{ include('admin/theme/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('theme_index') }}">back to list</a>

        {{ include('admin/theme/_delete_form.html.twig') }}
    </div>
{% endblock %}
