{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainer">

        <h1>Create new MakeupRefDetails</h1>

        {{ include('admin/makeup_ref_details/_form.html.twig') }}

        <a href="{{ path('admin_makeup_ref_details_index') }}">back to list</a>
    </div>
{% endblock %}
