{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row  makeupContainer">
        {% for makeupDetails in makeupProducts %}
            <div class="homeCard container mt-5">
                <a href="{{ path('makeup_ref', {'makeup_product_id': makeupDetails.id}) }}">
                    <div class="">
                        <p class="card-body">{{ makeupDetails.name }}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="card-body"><p>Pas de produit disponible dans cette catégorie !</p></div>
        {% endfor %}
    </div>
{% endblock %}
