{% extends 'layout.html.twig' %}

{% block main %}

    <div class="makeupContainer container d-flex mx-auto text-center row">
        {% for makeupRefDetails in makeupRefDetails %}
            <div class="card col-lg-4 mt-5" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-body">{{ makeupRefDetails.name }}</p>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}