<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span class="fw-bold text-reset">Restez connectez avec nos réseaux sociaux:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="align-items-center">
            <a href="" class="m-4 text-reset">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="m-4 text-reset">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="m-4 text-reset">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">



        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contactez-nous
                    </h6>
                    <p class="infoFooter ">2 ter, rue Alasseur - 75015 Paris</p>
                    <p class="infoFooter ">maqpro@orange.fr</p>
                    <p><a class="infoFooter " href="tel:+33142251011">Tél. : (+33) 1 42 25 10 11</a></p>
                    <p class="infoFooter ">Fax : (+33) 1 42 25 12 20</p>
                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Maqpro
                    </h6>
                    <p class="infoFooter">SAS au capital de 100 000 €</p>
                    <p class="infoFooter">SIRET 494 440 795 00032</p>
                    <p class="infoFooter">RCS PARIS 494 440 795</p>
                    <p class="infoFooter">APE 2042 Z</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        La marque
                    </h6>
                    <p>
                        <a href="#!" class="linkFooter text-reset">Conditions</a>
                    </p>
                    <p>
                        <a href="#!" class="linkFooter text-reset">Qui sommes nous ?</a>
                    </p>
                    <p>
                        <a href="#!" class="linkFooter text-reset">Nos partenaires</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Liens utiles
                    </h6>
                    <p>
                        <a href="#!" class="linkFooter text-reset">Contactezz nous</a>
                    </p>
                    <p>
                        <a href="#!" class="linkFooter text-reset">Private labal</a>
                    </p>
                    <p>
                        <a href="#!" class="linkFooter text-reset">Ils parlent de nous</a>
                    </p>
                </div>
                <!-- Grid column -->

            </div>
        </div>
    </section>
</footer>
<!-- Footer -->
