{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainerCKEDITOR container">
        <h1>Create new Carousel</h1>

        {{ include('admin/admin_carousel/_form.html.twig') }}

        <a href="{{ path('admin_carousel_index') }}">back to list</a>
    </div>
{% endblock %}
