{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainer">

        <h1>Edit Colours</h1>

        {{ include('admin/colours/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_colours_index') }}">back to list</a>

        {{ include('admin/colours/_delete_form.html.twig') }}
    </div>
{% endblock %}
