.adminHomeContainer {
  margin-top: $margingXXLarge;
}

.adminContainer {
  margin-top: $margingXXLarge;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.adminContainerCKEDITOR {
  margin-top: $margingXXLarge;
}