@import "variable";

$hover-color: #f6f6f3;


.linkFooter, .infoFooter {
  color: $background-color !important;
}
.linkFooter:hover,  {
  color: $police-color !important;
  text-decoration: none;
}


footer {
  background-color: $dark-color;
  margin-top: $margingXLarge;
}

