
@media screen and (min-width: 992px) {

  .homeTextSection {
    margin-top: $margingXXLarge;
  }
}

.homeTextSection {
  margin-top: $margingLarge;
  margin-bottom: $margingSmall;
}

.homeText {
  width: 75%;
  margin: 0 auto;
  text-align: justify;
  color: $police-color-dark;
}

.test p:first-child::first-letter{
  color: $police-color;
  font-weight: bold;
  font-size: 70px;
  float: left;
  line-height: 60px;
  padding-right: 8px;
  margin-top: -3px;
}


.barre {
  height:2px;
  width: 80%;
  margin: 0 auto;
  background-color: $dark-color;
}

.homeLink {
  margin-top: $margingSmall;
}

.homeCard {
  border-radius: 30px;
  background-color: white !important;
  box-shadow: 5px 5px 3px rgba(84, 84, 84, 0.48);
  position: relative;
  width: 23rem;
  display: flex;
  justify-content: center;
}

.homeCard:hover {
  color: red;
}



/* animation hover card */

@mixin magic-border($width, $color, $duration, $direction){
  position:relative;
  &:before{
    content:'';
    position:absolute;
    width:calc(100% + #{$width * 2});
    height:calc(100% + #{$width * 2});
    top:calc(#{$width}/-1);
    left:calc(#{$width}/-1);
    background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
    background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat:no-repeat, no-repeat;
    transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
    transform:scaleX(0) rotate(180deg * $direction);
    transition-delay:$duration*2, $duration, 0s;
  }
  &:hover{
    &:before{
      background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform:scaleX(1) rotate(180deg * $direction);
      transition-delay:0s, $duration, $duration*2;
    }
  }
}


  .homeCard{
    a{
      text-decoration:none !important;
      padding:20px;
      text-align:center;
      @include magic-border(2px, $police-color, 0.3s, 0);
      margin:20px;
      flex-grow:1;
      cursor:pointer;
    }
  }


