
.homeTextSection {
  margin-top: $margingXLarge;
  margin-bottom: $margingSmall;
}

.homeText {
  width: 75%;
  margin: 0 auto;
  text-align: justify;
}

.barre {
  height:2px;
  width: 80%;
  margin: 0 auto;
  background-color: $dark-color;
}

.homeLink {
  margin-top: $margingSmall;
}





