


.makeupContainer {
  margin-top: $margingXLarge;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.makeup_image {
  width: 200px;
  height: 200px;
  clip-path:ellipse(50% 50%);
}


.MakeupDiv {
  position: relative;
  text-align: center;
  color: red;
}

.text_center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DDDDDD;
  max-width: 50%;
  min-width: 40%;
  border-bottom: 1px solid ;
  border-right: 1px solid ;
}




.carouselPackagings {
  margin-top: $margingXXLarge ;

  display: flex;
  flex-direction: column;
}

.coloursContainer {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


 .carouselControl {
   background-color: #989898 !important;
   color: #989898 !important;

 }

.titleColoursAndPack {
  text-decoration: underline;
}

.refTexte {
  color: $police-color-dark;
}

.item-zoom img {
  vertical-align: top;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-zoom:hover img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.infoColoursAndPack {
  text-align: center;
}

@media screen and (min-width: 992px) {

  .makeupContainer:before {
    content:url("/./public/images/background/maxresdefault.jpeg");
    position:absolute;
    opacity:.30;
    z-index:-1;
    margin-top: -30px;
  }

  .packAndColoursContainer {
    margin-top: $margingXXLarge;
  }

  .containerColoursAndPack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }
}

@media screen and (max-width: 992px) {
  .packAndColoursContainer {
    margin-top: $margingLarge;
  }
}