

.makeupContainer {
  margin-top: $margingXLarge;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.makeup_image {
  width: 15rem;
  height: 15rem;
  clip-path:ellipse(50% 50%);
}


.MakeupDiv {
  position: relative;
  text-align: center;
  color: red;
}

.text_center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DDDDDD;
  max-width: 50%;
  min-width: 40%;
  border-bottom: 1px solid ;
  border-right: 1px solid ;
}




.carouselPackagings {
  margin-top: $margingXXLarge ;

  display: flex;
  flex-direction: column;
}

.coloursContainer {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
