@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

$paddingXXLarge : 200px;
$paddingXLarge : 150px;
$paddingLarge : 100px;
$paddingSmall : 50px;

$margingXXLarge : 200px;
$margingXLarge : 150px;
$margingLarge : 110px;
$margingSmall : 90px;
$margingXSmall : 50px;


$dark-color : #1A1A1A;
$background-color : rgba(245, 245, 245, 0.86);


$police-color : #DB3A34;
$police-color-dark : #1C1C1C;

h1, H2, H3 {
  color: $police-color-dark;
}

p, .navlink, li {
  color: $police-color-dark;
}

li {
  color: $police-color;
}

h1, H2, H3 {
  font-size: 24px;
}

p ,a ,span, li, ul, label {
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

a:hover
{
  cursor:pointer;
}

