{% extends 'layout.html.twig' %}

{% block title %}MaqPro{% endblock %}

{% block main %}

    <div class="generalPublicContainer container">

        {% for text in generalPublic %}
            <span class="te">
                {{ text.text |raw}}
                Les maquillages sont réalisés uniquement sur rendez-vous à Paris, au prix de 120 € la séance. Contactez-nous pour prendre rendez-vous.
            </span>
        {% endfor %}


    </div>


{% endblock %}
