<!DOCTYPE html>

<title>New Makeup</title>

{% block body %}
    <h1>Create new Makeup</h1>

    {{ include('admin_makeup/_form.html.twig') }}

    <a href="{{ path('admin_makeup_index') }}">back to list</a>
{% endblock %}
